
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */
/* 
    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
    
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-start: span 3;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
    height: 100%;
    width: 100%;
    background-color: #000; 
}

#container2 {
  margin-left: -100px;
  display: flex;
  flex-direction: column;
  justify-items: end;
  -moz-border-radius-topright: 71px;
  -webkit-border-top-right-radius: 71px;
  border-top-right-radius: 71px;
  -moz-border-radius-bottomright: 64px;
  -webkit-border-bottom-right-radius: 64px;
  border-bottom-right-radius: 64px;
  -webkit-box-shadow: -5px 2px 8px 0px rgba(122, 254, 207, 0.51);
  -moz-box-shadow: -5px 2px 8px 0px rgba(122, 254, 207, 0.51);
  box-shadow: -5px 2px 8px 0px rgba(122, 254, 207, 0.51);
  -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-right .8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


section {
    border: 1px solid black;
    width: 700px;
    max-width: 100%;
    height: 500px;
    max-height: 100%;
    display: grid;
    grid-column: auto;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    -webkit-box-shadow: 5px 2px 8px 0px rgba(122, 254, 207, 0.51);
    -moz-box-shadow: 5px 2px 8px 0px rgba(122, 254, 207, 0.51);
    box-shadow: 5px 2px 8px 0px rgba(122, 254, 207, 0.51);
    background-color: aliceblue;
    
}

ul {
  justify-content: center;
}



#container1{
  margin-left: 245px;
  -moz-border-radius-topleft: 71px;
  -webkit-border-top-left-radius: 71px;
   border-top-left-radius: 71px;
  -moz-border-radius-bottomleft: 64px;
  -webkit-border-bottom-left-radius: 64px;
  border-bottom-left-radius: 64px;
}


header {
    display: flex;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
    width: 500px;
    justify-content: center;
    text-align: center;

}


.box2 {
  margin-top: 1rem;
  visibility: hidden;
  
  
}

.input-1 {
  visibility: hidden;
}

.button2 {
  display: flex;
  flex-direction: column;
  justify-items: end;
  margin-top: 350px;
}

.btn:link,
.btn:visited{
  text-decoration: none;
  text-transform:uppercase;
  position:relative;
  top:0;
  left:0;
  padding: 5px 10px;
  border-radius:100px;
  display:inline-block;
  transition: all .5s;
}

.btn-white{
  background:rgba(30, 96, 218, 0.705);
  color:#000;
}

.btn:hover{
   box-shadow:0px 10px 10px rgba(122, 253, 207, 0.74);
   transform : translateY(-3px);
}

.btn:active{
  box-shadow:0px 5px 10px rgba(122, 253, 207, 0.51);
  transform: translateY(-1px);
}

.btn-bottom-animation-1{
  animation:comeFromBottom 1s ease-out .8s;
}

.btn::after{
  content:"";
  text-decoration: none;
  text-transform:uppercase;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  border-radius:100px;
  display:inline-block;
  z-index:-1;
  transition: all .5s;
}


.btn-animation-1:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

@keyframes comeFromBottom{
  0%{
    opacity:0;
    transform:translateY(40px);
  } 
  100%{
    opacity:1;
    transform:translateY(0);
  }
}


@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

