
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */
/* 
    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
    
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-start: span 3;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
    height: 100%;
    width: 100%;
}


section {
    border: 1px solid black;
    width: 700px;
    max-width: 100%;
    height: 500px;
    max-height: 100%;
    display: grid;
    grid-column: auto;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    -webkit-box-shadow: 7px 7px 5px 0px rgba(122, 253, 207, 0.51);
    -moz-box-shadow: 7px 7px 5px 0px rgba(122, 253, 207, 0.51);
    box-shadow: 7px 7px 5px 0px rgba(122, 253, 207, 0.51);
    
}

ul {
  justify-content: center;
}

#container1{
  margin-left: 250px
}

#container2 {
  visibility: hidd;
  display: flex;
  flex-direction: column;
  justify-items: end;
}

header {
    display: flex;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
    width: 500px;
    justify-content: center;
    text-align: center;

}


.box2 {
  margin-top: 1rem;
  visibility: hidden;
  
  
}

.input-1 {
  visibility: hidden;
}

.button2 {
  display: flex;
  flex-direction: column;
  justify-items: end;
  margin-top: 350px;
}

.btn:link,
.btn:visited{
  text-decoration: none;
  text-transform:uppercase;
  position:relative;
  top:0;
  left:0;
  padding: 5px 10px;
  border-radius:100px;
  display:inline-block;
  transition: all .5s;
}

.btn-white{
  background:rgba(30, 96, 218, 0.705);
  color:#000;
}

.btn:hover{
   box-shadow:0px 10px 10px rgba(0, 0, 0, 0.459);
   transform : translateY(-3px);
}

.btn:active{
  box-shadow:0px 5px 10px rgba(0,0,0,0.2);
  transform: translateY(-1px);
}

.btn-bottom-animation-1{
  animation:comeFromBottom 1s ease-out .8s;
}

.btn::after{
  content:"";
  text-decoration: none;
  text-transform:uppercase;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  border-radius:100px;
  display:inline-block;
  z-index:-1;
  transition: all .5s;
}


.btn-animation-1:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

@keyframes comeFromBottom{
  0%{
    opacity:0;
    transform:translateY(40px);
  } 
  100%{
    opacity:1;
    transform:translateY(0);
  }
}

